:root {
  --redBG: rgb(219, 10, 45);
  --whiteBG: rgb(222, 222, 222);
  --grayBG: rgb(88, 88, 88);
  --red: rgb(217, 33, 41);
  --green: rgb(35, 136, 66);
  --blue: rgb(25, 175, 228);
  --black: rgb(0, 0, 0);
}

body {
  font-family: "Skranji", cursive;
  margin: 0;
  background-color: var(--redBG);
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokemon-logo {
  width: 300px;
  margin-top: 10px;
  padding: 10px;
}

h1 {
  font-size: 40px;
  margin: 0;
  color: var(--black);
}

h2 {
  font-size: 30px;
  margin: 0;
  color: var(--black);
}

.redText {
  color: var(--red);
}

.greenText {
  color: var(--green);
}

.blueText {
  color: var(--blue);
}

#main-content {
  background-color: var(--whiteBG);
  margin: 15px;
  padding: 10px;
  border: 1px solid var(--whiteBG);
  border-radius: 5px;
  margin-bottom: 5px;
}

#player-choice-container {
  display: flex;
  justify-content: center;
}

.choice-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  font-size: 25px;
}

.choice {
  max-width: 100%;
  border-radius: 50%;
  cursor: pointer;
}

#battle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.player-rival-section {
  border: 3px solid var(--black);
  border-radius: 5px;
  display: flex;
  background-color: var(--grayBG);
  height: 250px;
  width: 265px;
}

#trainer-img {
  width: 100px;
  margin-top: 10px;
  padding: 10px;
}

.pokemon-img {
  width: 120px;
  margin-top: 60px;
  padding: 10px;
}

#rival-img {
  width: 90px;
  padding: 15px;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: var(--black);
  font-size: 15px;
}

#footer a {
  text-decoration: none;
  color: var(--black);
}

#logo {
  max-width: 10%;
  height: auto;
}

@media (min-width: 768px) {
  #pokemon-logo {
    width: 600px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  .choice-box {
    font-size: 40px;
  }

  .choice {
    width: 150px;
  }

  #battle-container {
    flex-direction: row;
  }

  .player-rival-section {
    height: 350px;
    width: 300px;
  }

  #battle-section {
    padding: 10px;
  }

  #trainer-img {
    width: 140px;
    margin-top: 30px;
    padding: 0;
  }

  .pokemon-img {
    width: 150px;
    margin-top: 80px;
    margin-right: 15px;
    padding: 0;
  }

  #rival-img {
    width: 130px;
    padding: 0;
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 992px) {
  #pokemon-logo {
    width: 800px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 60px;
  }

  .choice-box {
    font-size: 50px;
  }

  .choice {
    width: 200px;
  }

  #battle-container {
    flex-direction: row;
  }

  .player-rival-section {
    height: 450px;
    width: 400px;
  }

  #trainer-img {
    width: 190px;
    margin-top: 30px;
    padding: 0;
  }

  .pokemon-img {
    width: 190px;
    margin-top: 100px;
    margin-right: 15px;
    padding: 0;
  }

  #rival-img {
    width: 170px;
    padding: 0;
    margin-top: 15px;
    margin-left: 15px;
  }

  #footer {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  #pokemon-logo {
    width: 900px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 70px;
  }

  #main-content {
    align-self: center;
    width: 1000px;
  }

  #footer {
    font-size: 35px;
  }
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
